/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		RESET, thanks Eric (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, caption {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
	body {color: #000;font: 12px Georgia, serif;}
	ol, ul {list-style: none;}
	caption, th, td {text-align: left;font-weight: normal;}



/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		EVERYTHING, it's a small site.
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
		
	body {
		width: 700px;
		margin: 40px;
		font-family: Menlo, Monaco, Courier, monospace;
		line-height: 2em;
		}
				
		a { color: #0080FF; text-decoration: none; }
		
			a:hover { color: #006BD4; }
		
		.section { margin: 0 0 50px 0; }
		
		.education .summary { display: block; }
		
		.employment { list-style: none; }
			
			.employment li { margin-left: 0; }
			
			h1, h2, h3 { font-weight: bold; }
			
				h1 {
					font-size: 28px;
					margin: 0 0 50px 0;	
					}
				
				h2 {
					font-size: 20px;
					margin: 0 0 15px 0;
					color: #004080;
					}
			
				h3 {
					font-size: 16px;
					margin: 30px 0 0 0;	
					}
		
			p {
				font-size: 14px;
				margin: 0 0 1.2em 0;
				}
			
				.vcard p { margin: 0; }
				
				p.role { margin: 0 0 8px 0; }
				
			ul {
				list-style: square;
				margin: 0 0 0 40px;
				}
				
				ul li {
					font-size: 14px;
					margin: 0 0 5px 0;
					}
					
					ul li span.time, .employment h3 span.timelabel {
						font-style: italic;
						color: #999;
						}
					
					ul li span.organization-name { font-weight: bold; }
					
						
		
/* 	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
		hCARD ELEMENTS TO HIDE
	++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	
	.tel .type { display: none; }